<%= render 'layouts/error_message' %>
<div class="card mt-1">
  <div class="card-header text-white fw-bold text-start" style="background-color: #000033">
    Created by <%= @group.user.email %>
    <h6 class="m-1" style="float: right"><%= @group.genre %></h6>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <%= image_tag @group.banner.url, style: 'height:100px; width: 100%' if @group.banner.present? %>
      </div>
      <div class="col-8">
        <p class="card-text lh-sm text-start"><%= @group.description %></p>
      </div>
    </div>
  </div>
</div>
<%= link_to "Back", users_groups_path, class: 'd-inline btn btn-sm text-light', style: 'background-color: #000033' %>
<%= link_to "Member", users_group_path(history: 'member'), class: 'd-inline btn btn-sm text-light', style: 'background-color: #000033' %>
<% @members&.each do |member| %>
  <%= member.user.email %>
  <%= link_to "Remove", users_join_group_remove_path(join_group_id: member, group_id: @group), class: 'btn btn-outline-danger btn-sm', data: { confirm: "Are you sure, you want to decline?" }, method: :put if member.may_remove? %>
  <h6>Assign Roles</h6>
  <%= form_for member, url: users_join_group_path(join_group_id: member, group_id: @group), method: :patch do |f| %>
    <%= f.select :role, JoinGroup.roles.keys.map { |key| [key.humanize, key] }, { place_holder: 'Please Select Genre' }, { class: 'form-control mt-3' } %>
    <%= f.submit "Update", class: 'text-light btn form-control', style: 'background-color: #000033' %>
  <% end %>
<% end %>